# Gradle
.gradle/
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IDE
*.iml
.idea/
.kotlin/
captures/
*.ipr
*.iws

# Android
local.properties
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# Xcode
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
DerivedData/
*.xcuserstate
*.ipa
*.dSYM.zip
*.dSYM

# Kotlin/Native
*.klib

# OS
.DS_Store
Thumbs.db

# Node (Compose Hot Reload)
node_modules/
